p{
    font-size: 18px;
    color:rgb(199, 196, 196);
    text-align:left;}
body{
    background-color: #202020}
header{
    background-color: rgb(185, 180, 180);
    font-style: italic;}
footer{
    background-color: #454545;}

h2{
    color:rgb(199, 196, 196);
    font-family: 'Rock Salt', cursive;}

h3{
    color: lightgray;
    font-family: 'Rock Salt', cursive;
}

label{
    color:rgb(199, 196, 196)}

.titulos{
    font-family: 'Rock Salt', cursive;
    font-size: 38px;
    text-align: center;
    color: rgb(199, 196, 196);}
.marca{
    font-family: 'Rock Salt', cursive;
    font-size: medium;
    text-align: center;}
.parrafo{
    font-family: 'Fondamento', cursive;
} 